
<h1>
Hello <%= current_user.first_name %> <%= current_user.last_name %>
</h1>

<h4>
Own offerings
</h4>

<div class="row row-cols-3 row-cols-md-3">

<% current_user.own_offerings.each do |offering| %>

<%= render "offerings/offering", offering: offering %>
 
<% end %>
</div>
